@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.outfit{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
